**/latest_logs
**/archived_logs
mysql_data
instance/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
db.sqlite
**/__pycache__/
**/latest_logs
**/archived_logs

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover