label {
    padding-top: 20px;
}

/* Temporary until we change it in base.html */
body {
    height: 100%;
    width: 100%;
    background-color: #07070A;
}

.btn-wrapper {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

table, th, td {
    border: 1px solid white;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

body {
    height: 100%;
    width: 100%;
    background-color: #07070A;
}

label {
    color: rgba(255, 255, 255, 0.8);
}

.wrapper {
    color: #FBFBFB;
}

label {
    padding-top: 20px;
}

.btn-wrapper {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}