{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/styles/base.css" />

<div class="container">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th style="color: black !important;">User ID</th>
        <th style="color: black !important;">Username</th>
        <th style="color: black !important;">Email</th>
        <th style="color: black !important;">Role</th>
        <th style="color: black !important;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td style="color: black !important;">{{ user.id }}</td>
        <td style="color: black !important;">{{ user.username }}</td>
        <td style="color: black !important;">{{ user.email }}</td>
        <td style="color: black !important;">{{ user.role }}</td>
        <td style="color: black !important;">
          <a href="{{ url_for('admin_edit_user', user_id=user.id) }}" class="btn btn-sm btn-primary">Edit</a>
          <a href="{{ url_for('admin_user_courses', user_id=user.id) }}" class="btn btn-sm btn-info">View Courses</a>
          <form method="post" action="{{ url_for('admin_delete_user', user_id=user.id) }}" style="display:inline;">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
