{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/styles/admin_forms.css" />

<div class="container">
  <h1>Edit User</h1>
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" name="username" id="username" value="{{ user_to_edit.username }}" required />

      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" value="{{ user_to_edit.email }}" required />

      <!-- Consider if you want to allow password changes here -->
      <!-- <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" required /> -->

      <label for="student_number">Student Number</label>
      <input type="text" class="form-control" name="student_number" id="student_number" value="{{ user_to_edit.student_number }}" />

      <label for="role">Role</label>
      <select class="form-control" name="role" id="role" required>
        <option value="1" {% if user_to_edit.role == 1 %}selected{% endif %}>Student</option>
        <option value="2" {% if user_to_edit.role == 2 %}selected{% endif %}>TA</option>
        <option value="3" {% if user_to_edit.role == 3 %}selected{% endif %}>Instructor</option>
        <option value="4" {% if user_to_edit.role == 4 %}selected{% endif %}>Admin</option>
      </select>
    </div>
    <div class="btn-wrapper">
      <button type="submit" class="btn btn-primary">Update User</button>
    </div>
  </form>
</div>
{% endblock %}
