{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>User Courses</h1>
  <h2>Courses for User ID: {{ user_id }}</h2>
  <ul>
    {% for course in user_courses %}
    <li>{{ course.name }}
        <form method="post" action="{{ url_for('admin_remove_user_from_course', user_id=user_id, course_id=course.id) }}" style="display:inline;">
            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
        </form>
    </li>
    {% endfor %}
  </ul>

  <h3>Add to Course</h3>
  <form method="post" action="{{ url_for('admin_add_user_to_course', user_id=user_id) }}">
    <select name="course_id">
      {% for course in all_courses %}
      <option value="{{ course.id }}">{{ course.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-sm btn-primary">Add to Course</button>
  </form>

</div>
{% endblock %}
