{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/index.css" />

{% block header %}
<h1>{% block title %}Assignment Details - {{ assignment.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="assignment-details" class="container">
    <h2>Assignment Details:</h2>

    <div class="detail-item">
        <strong>Name:</strong> {{ assignment.name }}
    </div>
    <div class="detail-item">
        <strong>Start Date:</strong> {{ assignment.startDate }}
    </div>
    <div class="detail-item">
        <strong>End Date:</strong> {{ assignment.endDate }}
    </div>
    <div class="detail-item">
        <strong>Late Penalty</strong> {{ assignment.dailyLatePenalty}} % per day
    </div>
    <div class="detail-item">
        <strong>Grades Published?</strong> {{ assignment.isPublic}}
    </div>
    <div class="detail-item">
        <strong>Number of Submissions</strong> {{ numOfSubmission}} / {{course.numOfStudents}}
    </div>
    {% if isOwner %}
    <a href="{{ url_for('download_grades', assignment_id=assignment.id) }}" class="btn">Download Grades</a>
    {% endif %}

    {% if isTa %}
    <a href="{{ url_for('download_grades', assignment_id=assignment.id) }}" class="btn">Download Grades</a>
    {% endif %}

    {% if isOwner %}
    <a href="/edit-assignment/{{ assignment.id }}" class="btn">Edit Assignment Details</a>
    <!-- Plagiarism Check Button for Owners -->
    <a href="{{ url_for('confirm_assignment', assignment_id=assignment.id) }}" class="btn">Check Submissions for
        Plagiarism</a>
    {% if assignment.mossUrl %}
    <a href="{{assignment.mossUrl}}" target="_blank" class="btn">View Last Moss Report</a>
    {% endif %}
    {% endif %}

    {% if isTa %}
    <a href="{{ url_for('confirm_assignment', assignment_id=assignment.id) }}" class="btn">Check Submissions for
        Plagiarism</a>
    {% if assignment.mossUrl %}
    <a href="{{assignment.mossUrl}}" target="_blank" class="btn">View Last Moss Report</a>
    {% endif %}
    {% endif %}


    {% if isOwner %}
    <div id="test-cases">
        <h2>Test Cases:</h2>
        <ul>
            {% for test_case in testCases %}
            <li>
                Test Case #{{ test_case.id }} - Visible: {{ 'Yes' if test_case.visible else 'No' }}
                <!-- Form to toggle visibility -->
                <form action="/toggle-visibility/{{ assignment.id }}/{{ test_case.id }}" method="post">
                    <input type="hidden" name="visible" value="{{ 'false' if test_case.visible else 'true' }}">
                    <button type="submit" class="btn">{{ 'Hide' if test_case.visible else 'Show' }}</button>
                </form>
                <ul>
                    {% for file in test_case.files %}
                    <li>{{ file.fileName }}</li>
                    {% endfor %}
                </ul>
                <form action="/upload-testcase-file/{{ test_case.id }}/{{assignment.id}}" method="post"
                    enctype="multipart/form-data">
                    <input type="file" name="testcase_file" required>
                    <button type="submit" class="btn">Upload File to Test Case</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <!-- Create a New Test Case for This Assignment -->
        <form action="/create-testcase/{{ assignment.id }}" method="post">
            <button type="submit" class="btn">Create New Test Case</button>
        </form>
    </div>
    {% endif %}
    <!-- Conditional Button based on isOwner -->
    {% if isOwner %}

    {% elif isTa %}

    {% else %}

    <div id="submissions">
        <h2>Submissions:</h2>
        <ul>
            {% for submission in submissions %}
            <li>
                {{ submission.fileName }} - Submitted on: {{ submission.submissionDate }}
                <a href="{{ url_for('view_grade', assignment_id=assignment.id, submission_id=submission.id) }}">View
                    Grade</a>
                <a
                    href="{{ url_for('download_submission', assignment_id=assignment.id, submission_id=submission.id) }}">Download
                    File</a>
            </li>

            {% endfor %}
        </ul>
    </div>

    <form action="/submit-assignment/{{ assignment.id }}" method="post" enctype="multipart/form-data">
        <input type="file" name="assignment_file" accept=".c, text/plain" required>
        <button type="submit" class="btn">Submit Assignment</button>
    </form>
    {% endif %}
</div>

{% endblock %}