{% extends 'base.html' %}
<link rel="stylesheet" href="../static/styles/index.css" />

{% block header %}
<h1>{% block title %}Course Details - {{ course.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div id="course-details" class="container">
    <h2>Course Details:</h2>

    <div class="detail-item">
        <strong>Name:</strong> {{ course.name }}
    </div>
    <div class="detail-item">
        <strong>Course Code:</strong> {{ course.courseCode }}
    </div>
    <div class="detail-item">
        <strong>Year:</strong> {{ course.year }}
    </div>
    <div class="detail-item">
        <strong>Semester:</strong> {{ course.semester }}
    </div>
    <div class="detail-item">
        <strong>Start Date:</strong> {{ course.startDate}}
    </div>
    <div class="detail-item">
        <strong>End Date:</strong> {{ course.endDate }}
    </div>
    <div class="detail-item">
        <strong>Number of Students Enrolled:</strong> {{ course.numOfStudents }}
    </div>
    <div class="detail-item">
        <strong>Number of TAs:</strong> {{ course.numOfTAs }}
    </div>
    <!-- You can add more details as needed -->
</div>

<div id="assignments" class="container">
    <h2>Assignments:</h2>
    {% for assignment in assignments %}
    <ul>
        <li>
            <a href="/assignments/{{ assignment.id }}">{{ assignment.name }}</a>
        </li>
    </ul>
    {% endfor %}

    {% if user is defined and user.role == 3 %}
    <a href="/create-assignment/{{ course.id }}" class="btn">Add Assignment</a>
    {% endif %}
</div>

{% if user is defined and (user.role == 3)%}
<div id="users" class="container">
    <h2>Users:</h2>
    {% for u in users %}
    <ul>
        {% if u is defined and u.role == 1 %}
        <li>
            
            <a href="/view-student/{{ u.id }}/{{course.id}}">{{ u.username }}</a> ({{ u.student_number }}) 
            

        </li>
            
            {% endif %}
            {% if u is defined and u.role == 2 %}
            <li>
            

            <a href="/users/{{ u.id }}/{{course.id}}">{{ u.username }}</a> (TA) 

            </li>
            {% endif %}
        
    </ul>
    {% endfor %}
    {% if user is defined and user.role == 3 %}
    <a href="/add-ta/{{ course.id }}" class="btn">Add TA</a>
    Share Code: {{course.enrollmentPassword}}
    {% endif %}
</div>
{% endif %}



{% if user is defined and (user.role == 2)%}
<div id="users" class="container">
    <h2>Students Assigned To You:</h2>
    {% for u in students %}
    <ul>
        <li>
            <a href="/view-student/{{ u.id }}/{{course.id}}">{{ u.username }}</a> ({{ u.student_number }}) 
        </li>
    </ul>
    {% endfor %}
</div>
{% endif %}



{% endblock %}