{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Create Test Case for Assignment ID: {{ assignment_id }}</h1>
    <form action="{{ url_for('post_create_testcase', assignment_id=assignment_id) }}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="">
        </div>
        <div class="form-group">
            <label for="type">Test Case Type</label>
            <select class="form-control" id="type" name="type" onchange="toggleFields()">
                <option value="Code Check">Code Check</option>
                <option value="Compilation">Compilation</option>
                <option value="Output Comparison">Output Comparison</option>
                <option value="File Name">File Name</option>
                <option value="Variable Name">Variable Name</option>
            </select>
        </div>
        <div class="form-group" id="input_data_group" style="display: none;">
            <label for="input_data">Input Data (for Output Comparison only)</label>
            <textarea class="form-control" id="input_data" name="input_data" rows="3"></textarea>
        </div>
        <div class="form-group" id="expected_output_group" style="display: none;">
            <label for="expected_output">Expected Output (for Output Comparison only)</label>
            <textarea class="form-control" id="expected_output" name="expected_output" rows="3"></textarea>
        </div>
        <div class="form-group" id="file_name_group" style="display: none;">
            <label for="file_name">Expected File Name</label>
            <input type="text" class="form-control" id="file_name" name="file_name">
        </div>
        <div class="form-group" id="variable_name_group" style="display: none;">
            <label for="variable_name">Expected Variable Name</label>
            <input type="text" class="form-control" id="variable_name" name="variable_name">
        </div>
        <!-- <div class="form-group" id="code_check_group" style="display: none;">
            <label for="code_checks">Additional Code Checks</label>
            <textarea class="form-control" id="code_checks" name="code_checks" rows="3"></textarea>
        </div> -->
        <div class="form-group">
            <label for="visible">Visible</label>
            <input type="checkbox" class="form-check" id="visible" name="visible" checked>
        </div>
        <div class="form-group">
            <label for="points">Points Worth</label>
            <input type="number" class="form-control" id="points" name="points" value="0">
        </div>
        <button type="submit" class="btn btn-primary">Create Test Case</button>
    </form>
</div>
<script>
function toggleFields() {
    var type = document.getElementById("type").value;
    document.getElementById("input_data_group").style.display = type === "Output Comparison" ? "block" : "none";
    document.getElementById("expected_output_group").style.display = type === "Output Comparison" ? "block" : "none";
    document.getElementById("file_name_group").style.display = type === "File Name" ? "block" : "none";
    document.getElementById("variable_name_group").style.display = type === "Variable Name" ? "block" : "none";
    document.getElementById("python_function_group").style.display = type === "Python Function" ? "block" : "none";
    // document.getElementById("code_check_group").style.display = type === "Code Check" ? "block" : "none";
}
window.onload = toggleFields;
</script>
{% endblock %}
