{% extends 'base.html' %} 
{% block content %}
<link rel="stylesheet" href="../static/styles/create_course.css" />

<div class="container">
  <h1>Create Assignment</h1>
  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        name="name"
        id="name"
        required
      />
      <label for="startDate">Start Date</label>
      <input
        class="form-control"
        type="date"
        name="startDate"
        id="startDate"
      />
      <label for="endDate">End Date</label>
      <input
        class="form-control"
        type="date"
        name="endDate"
        id="endDate"
      />

      <div class="btn-wrapper">
        <input class="btn" type="submit" value="Create Course" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
