{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/styles/base.css" />

{% block header %}
<h1>{% block title %}Q Grader{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3>Your Courses:</h3>
    <div class="row">
        {% for course in courses %}
        <div class="col-12">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="/courses/{{course.id}}">{{ course.name }}</a></h5>
                    <p class="card-text">
                        Course Code: {{ course.courseCode }}<br>
                        Year: {{ course.year }}<br>
                        Semester: {{ course.semester }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if user.role == 1 %}
    <h3>Upcoming Assignments:</h3>
    <div class="row">
        {% for assignment in upcoming_assignments %}
        <div class="col-12">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><a href="/assignments/{{assignment.id}}">{{ assignment.name }}</a></h5>
                    <p class="card-text">
                        Due Date: {{ assignment.endDate.strftime('%Y-%m-%d %H:%M') }}<br>
                        <!-- Adjust course name retrieval based on your models' relationships -->
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
