{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}AutoGrader Result{% endblock %}</h1>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="../static/styles/user_details.css" />

<div class="container">
  <h1>AutoGrader Result: {{ student.username }} ({{ student.student_number }})</h1>


  <div id="submissions">
    <h2>Test Case Results:</h2>

    <ul>
      {% for submissionResult in submissionResults %}
      <li>
        Test Case: {{ submissionResult.testCaseId }}
        <br>
        {{ submissionResult.fileName }} - Submitted on: {{ submissionResult.gradeDate }}
        <br>
        Score: {{ submissionResult.score }} / {{ submissionResult.maxScore }}
        <br>
         {{ submissionResult.notes | replace("\n", "<br>") | safe }}
        <br>
      </li>

      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}