{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}AutoGrader Result{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/user_details.css" />

<div class="container">
  <h1>AutoGrader Result: {{ student.username }} ({{ student.student_number }})</h1>

  <div id="submissions">
    <h2>Test Case Results:</h2>
    <h3>{{score}} / {{totalScore}}</h3>
    <ul>
      <li> Late Penalty: {{ submission.manualLateMarks }} marks off </li>
      {% for result in submissionResults %}
      <li>
        Test Case: {{ result.testCaseId }}
        <br>
        Score: {{ result.score }} / {{ result.maxScore }}
        <br>
        Notes: {{ result.notes | replace("\n", "<br>") | safe }}
        <br>
        {% if result.type == "Output Comparison" %}
          {% if result.score != result.maxScore %}
            <p><strong>Your Output (Up to Divergence):</strong></p>
            {{ result.preErrorOutput | safe }}
            {% if result.errorChar %}
              <span style="background-color: yellow;">{{ result.errorChar | safe }}</span>
              {{ result.postErrorOutput | safe }}
              <br>
              <strong>Expected (Starting from Divergence):</strong>
              {{ result.expectedPreError | safe }}
              <span style="background-color: lightgreen;">{{ result.expectedErrorChar | safe }}</span>
              {{ result.expectedPostError | safe }}
            {% endif %}
          {% else %}
            <p></p>
          {% endif %}
        {% elif result.score != result.maxScore %}
          <p><strong>Output:</strong></p>
          {{ result.codeOutput | safe }}
        {% endif %}
        <br>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
