
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}AutoGrader Result{% endblock %}</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/base.css" />

<div class="container">
  <h1>AutoGrader Result For: {{ student.username }} ({{ student.student_number }}) {{ student.email }} </h1>
  <h2>{{assignment.name}}</h2>
  <h3>{{score}} / {{totalScore}}</h3>
  <h3>Submitted at: {{ submission.submissionDate }}  ({{ submission.manualLateMarks }} late marks off)</h3>

 

  {% if not assignment.isPublic %}
    <div class="alert alert-warning" role="alert">
      Note: This is not your final grade. The grades for hidden test cases and manual code review are pending.
    </div>

    {% else %}
    <h3>Notes From TA: {{ submission.taOverallComments }}</h3>

  {% endif %}

  {% for result in submissionResults %}
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">{{ result.testCaseName }} - {{ result.testCaseType }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Score: {{ result.score }} / {{ result.maxScore }}</h6>
      
      {% if result.notes %}
      <p class="card-text"><strong>Notes:</strong> {{ result.notes }}</p>
      {% endif %}
      
      {% if result.taComment %}
      <p class="card-text"><strong>TA Comments:</strong> {{ result.taComment }}</p>
      {% endif %}
      
      {% if result.type == "Output Comparison" and result.score != result.maxScore %}
        <div class="row">
          <div class="col">
            <p><strong>Your Output:</strong></p>
            <div class="output">{{ result.preErrorOutput | safe }}<mark>{{ result.errorChar | safe }}</mark>{{ result.postErrorOutput | safe }}</div>
          </div>
          <div class="col">
            <p><strong>Expected Output:</strong></p>
            <div class="output">{{ result.expectedPreError | safe }}<mark>{{ result.expectedErrorChar | safe }}</mark>{{ result.expectedPostError | safe }}</div>
          </div>
        </div>
      {% endif %}

      {% if result.type == "File Name" and result.score != result.maxScore %}

      <p class="card-text"><strong>Your File Name:</strong> {{ result.codeOutput | safe }}</p>
      <p class="card-text"><strong>Expected File Name:</strong> {{ result.expectedOutput | safe }}</p>
      {% endif %}
      
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}